.greetings {
  height: 20vh;
  border-radius: 20px;
  background-color: #eddcd2;
  z-index: 2;
  position: absolute;
  width: 50vw;
  top: 12%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
  display: flex;
}
