.container {
    padding-top: 70px; /* or any other value that suits your navbar height */
  }

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
  }

.recipe-list {
    display: flex;
    flex-wrap: wrap;
  }
  
  .recipe-box {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .recipe-image {
    flex-basis: 40%;
    padding: 20px;
    max-width: 100%;
    height: auto;
  }
  
  .recipe-image img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  .recipe-details {
    flex-basis: 60%;
    padding: 20px;
  }
  
  .recipe-details h2 {
    margin-top: 0;
  }
  
  .recipe-details h3 {
    margin-top: 0;
  }
  
  .recipe-details ul,
  .recipe-details ol {
    margin-top: 0;
    margin-bottom: 20px;
    padding-left: 20px;
  }
  
  .recipe-details li {
    margin-bottom: 5px;
  }
  
  .recipe-details ol {
    list-style-type: decimal;
  }
  
  .recipe-name {
    margin-top: 10px;
    text-align: center;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
