div {
  text-align: center;
}

.book-header {
  font-weight: 400;
}

.book-link {
  border-radius: 5%;
}

.cont {
  text-align: center;
}

.book-container {
  background-color: #a6a6a6;
  color: white;
  padding: 20px 0 50px;
}
