/* define animation */
@keyframes wiggle {
  0% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(-5deg);
  }
}

.timerWidgetWiggle {
  position: relative;
  width: 300px;
  background-color: white;
  color: black;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  /* add animation */
  animation: wiggle 0.5s ease-in-out infinite;
}

.timerWidget {
  position: relative;
  width: 300px;
  background-color: white;
  color: black;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.closeTask {
  position: absolute;
  left: 0;
  top: 0;
}

.circle-icon{
  display: block;
  flex-direction: column;
  flex-wrap: wrap;
}

.unsplash-graphic{
  display: inline;
  margin: 0;
  float: center;
}