.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.description p {
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.starter-poke {
  width: 150px;
}

button {
  width: 300px;
  background-color: #d7f5fa;
  border: 4px solid #3cc8dc;
  border-radius: 6px;
  margin: 2rem 0;
  padding: 0.5rem 0;
  font-family: sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 4px;
  cursor: pointer;
  transition: all ease 0.2s;
}
button:hover {
  transform: scale(1.1);
}

