.split_btn {
  background: #51a3b8;
  font-size: 20px;
  color: white;
  border-radius: 7px;
  box-shadow: 0 7px 0px #387796;
  display: inline-block;
  transition: all 0.2s;
  position: relative;
  padding: 20px 25px;
  position: relative;
  top: 0;
  cursor: pointer;
  margin: 0 20px;
}

.split_btn:active {
  top: 3px;
  box-shadow: 0 2px 0px #387796;
  transition: all 0.2s;
}

/* https://webdeasy.de/en/top-css-buttons-en/ */
