/* App.css */
.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* height of 100vh ensures that the layout spans the full height */
}

.task-list,
.task-in-progress,
.task-in-review {
  flex: 1; /* Equal distribution of space */
  box-sizing: border-box; /* Include padding and border in the width calculation */
  width: calc(33.33% - 40px); /* 33.33% width with 20px margin on each side */
  margin: 20px 20px;
  border: 1px solid #ccc;
  padding: 16px;
  border-radius: 12px;
  opacity: 80%;
  font-size: 10px;
}

.task-container {
  display: flex;
  flex: 1; /* This allows the task components to take up the available space */
}

.task-list {
  background: #e97e7e;
}

.task-in-progress {
  background: rgb(244, 244, 162);
}

.task-in-review {
  background: rgb(146, 246, 153);
}

.task-composer {
  margin: 20px 0px 50px;
}

/* Style the Header as you need it. For example: */
.header {
  /* background: #333; */
  color: #fff;
  font-size: 35px;
  display: flex; /* flex container to enable */
  padding: 10px;
  justify-content: center;
  align-items: center;
  opacity: 30%;
}

.header-link {
  color: white;
}

.content {
  color: black;
}

.main {
  opacity: 80%;
}

.buttons {
  margin: 10px;
  margin-bottom: 20px;
  border-radius: 25%;
}

button {
  margin-top: 15px;
  border-radius: 25%;
}

.adjustments {
  margin-bottom: 50px;
}
