@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Noto+Sans&family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
  background: url("../public/PokemonPics/background.jpg");
}
.App {
  min-width: 100%;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}
.card-grid {
  display: grid;
  grid-gap: 20px;
  margin: auto;
}
.card-grid .moves {
  grid-column: 1 / span 1;
  text-align: left;
  font-size: 1.5rem;
  font-weight: bold;
}
.card-grid button {
  grid-column: -2 / span 1;
  width: 200px;
  margin: 0;
}
.card-grid.easy {
  max-width: 900px;
  grid-template-columns: repeat(4, 1fr);
}
.card-grid.medium {
  max-width: 1100px;
  grid-template-columns: repeat(5, 1fr);
}
.card-grid.hard {
  max-width: 1500px;
  grid-template-columns: repeat(7, 1fr);
}

audio:hover,
audio:focus,
audio:active {
  -webkit-box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.4);
  box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.4);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  transform: scale(1.05);
}

audio {
  margin-top: 15px;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
  -moz-box-shadow: 2px 2px 4px 0px #006773;
  -webkit-box-shadow: 2px 2px 4px 0px #006773;
  box-shadow: 2px 2px 4px 0px #006773;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border-radius: 7px 7px 7px 7px;
  border-radius: 7px 7px 7px 7px;
}
