body {
  background-color: #ffc312;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  padding-top: 20px;
}

.flex-grouplist {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 5px;
  max-width: 300px;
}

.flex-receipt {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 0.375rem;
  padding-bottom: 15px;
}

.flex-tax {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  font-size: smaller;
}

.green-container {
  background-color: #004e00;
  border: 5px solid #000000;
  border-radius: 50px;
  padding: 2.5rem;
  color: white;
  margin: 2px;
}

.step {
  padding: 5px 13px;
  background-color: #ffc312;
  border-radius: 50px;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 0.5rem;
  color: #000000;
  font-family: "Bangers";
}

.bangers {
  font-family: "Bangers";
}

.trashcan {
  width: 20px;
  height: 20px;
  fill: #ffc312;
}

.bin-btn {
  background-color: #004e00;
  border: none;
  cursor: pointer;
}

.tooltip {
  position: relative;
  padding: 5px;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 105%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

/* Styling for ExpenseForm.js and GroupForm.js */

.flex-spender {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  max-width: 300px;
}

.white-btn {
  background: white;
  font-size: 20px;
  color: black;
  border-radius: 7px;
  box-shadow: 0 7px 0px grey;
  display: inline-block;
  transition: all 0.2s;
  position: relative;
  padding: 10px 15px;
  position: relative;
  top: 0;
  cursor: pointer;
  margin: 0 20px;
}

.white-btn:active {
  top: 3px;
  box-shadow: 0 2px 0px darkgrey;
  transition: all 0.2s;
}

.input-field {
  margin: 10px 1px;
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75em + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: white;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/* Styling for button in SplitBill.js button */

.split_btn {
  background: #51a3b8;
  font-size: 22px;
  color: white;
  border-radius: 7px;
  box-shadow: 0 7px 0px #387796;
  display: inline-block;
  transition: all 0.2s;
  position: relative;
  padding: 20px 25px;
  position: relative;
  top: 0;
  cursor: pointer;
  margin: 0 20px;
}

.split_btn:active {
  top: 3px;
  box-shadow: 0 2px 0px #387796;
  transition: all 0.2s;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 20px;
  }
}

/* https://webdeasy.de/en/top-css-buttons-en/ */
/* https://www.geeksforgeeks.org/css-units-em-rem-px-vh-vw/ */
