@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Noto+Sans&family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
  background: url("/public/PokemonPics/background.jpg");
}

.game-container {
  width: 100vw;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}
