body {
  background: linear-gradient(90deg, #19cfd9 30%, #7bf0d1 70%);
  cursor: auto;
}
.App {
  background: linear-gradient(80deg, #494848 10%, #2a2929 90%);
  min-height: 500px;
  /*max-width: 400px;
  min-width: 340px;
  margin: 40px auto; */
  border-radius: 10px;
  padding: 10px;
}

.header {
  color: white;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

/*MAIN INPUT FIELD CSS
/* .main-input-field {
  background-color: #fffffd;
  width: 200px;
  height: 40px;
  margin: 20px;
  padding: 0 20px;
border: 0;
  border-radius: 10px;
  font-size: 20px;
}
.main-input-field:focus {
  outline: none;
} */

#add-item-button {
  background: linear-gradient(75deg, #78dda1, #37b8f0);
  border: 0;
  color: white;
  font-size: 18px;
}

#clear-all-button {
  background: linear-gradient(70deg, #676867, #889292);
  border: 0;
  color: white;
  font-size: 18px;
}
.item-to-buy-row {
  background: linear-gradient(90deg, #62d3d9, #35e1ae);
  /* height: 30px;
  width: 250px; */
  margin: 10px auto;
  border: 0;
  border-radius: 10px;
  font-size: 20px;
  padding: 10px;
  position: relative;
}

.item-to-buy-row:focus {
  outline: none;
}

#trashbin {
  font-size: 20px;
  color: white;
  position: relative;
  cursor: pointer;
}

.purchased-item-row {
  background: linear-gradient(90deg, #62d3d9, #35e1ae);
  /* height: 30px;
  width: 250px; */
  margin: 10px auto;
  border: 0;
  border-radius: 10px;
  font-size: 20px;
  padding: 10px;
  position: relative;
  text-decoration: line-through;
  opacity: 0.5;
}
.purchased-item-row:focus {
  outline: none;
}
