.App {
  text-align: center;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.collapsed,
.navbar-toggler {
  margin-right: 20px;
}

.dropdown-item {
  text-align: center;
}

.navbar-brand {
  margin-left: 20px;
}

.welcome {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 20px;
}

.welcome-msg {
  background-color: #ffffff;
  border-radius: 15px;
  padding: 30px 50px;
}

.about {
  padding: inherit 3%;
}

.curr-menu {
  min-height: 600px;
}

.car-item {
  background-size: cover;
  background-position: center;
}

.car-caption {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 40px;
}

.date-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.date-col {
  width: 50%;
}

.follow {
  background-color: #a6a6a6;
  padding: 30px 0;
  margin-bottom: -10px;
}
