body {
  background-color: #ffab40;
}

.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
