html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Courier New", Courier, monospace, cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgb(18, 2, 2);
  height: 100vh;
  background: url(https://i.pinimg.com/736x/8e/d5/e3/8ed5e319555b7762ce632e3fe70115da.jpg)
    center/cover no-repeat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
