.scales-table {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  align-items: stretch;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2vh;
}

.scales-table-main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.scales-table-title {
  display: flex;
  justify-content: flex-start;
  border-bottom: 0.5px solid #dddddd;
  margin-bottom: 2vh;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.flex-left {
  width: 20%;
}

.flex-text {
  width: 50%;
  padding-bottom: 20px;
  border-right: 1px solid black;
  text-align: left;
}

.flex-accidentals {
  width: 20%;
  text-align: left;
}

.note-button {
  display: flex;
  align-items: left;
  border: none;
  background-color: transparent;
  font-weight: 700;
  font-size: 1rem;
  color: white;
}
